{% extends "base.html" %} {% block title %}{{ strings.title }}{% endblock %}
{% block content %}
<h1>Збірник цитат</h1>

<h3>Веб-додаток, написаний на мові Python версії 3 з використанням фреймворку Django.</h3>

<p>Створено мною для того, щоб навчитися використовувати Django для розробки веб-додатків.</p>
<p>На створення мене надихнули різні сайти з доменами *bash.</p>

<p>Можливі помилки та недоробки:</p>
<ul>
<li>у моделі Quote не зберігається інформація про модератора, що зааппрувив цитату;</li>
<li>кожен функціональний елемент було винесено в окремий додаток, структура всього проекту може бути іншою (і, скоріш за все, має бути іншою);</li>
<li>при розробці я більше концентрувався на бекенді, тому фронтенд може бути дещо "хитким" у відношенні безпеки;</li>
<li>якість коду на мові Python може бути дуже поганою.</li>
</ul>

<p>По можливості стараюсь виправляти вищевказані недоробки.</p>


<p>Зв'язатись з автором можна надіславши електронного листа на адресу: <a href="mailto:fanoffm@fmail.com">fanoffm@gmail.com</a></p>



{% endblock %}