{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		{% block title %} {% endblock %}
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "styles.css" %}">
</head>

<body>
	<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
		<a href="{% url "index" %}" class="navbar-brand">im.bash</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarTogglerMenu">
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="{% url "index" %}">Додому</a>
      </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbDropdown" role="button" data-toggle="dropdown">Різне</a>
        <div class="dropdown-menu" aria-labelledby="nbDropdown">
            <a class="dropdown-item" href="{% url "random" %}">Випадкові цитати</a>
            <a class="dropdown-item" href="{% url "by_rating" %}">За рейтингом</a>
            <a class="dropdown-item" href="{% url "best_quotes" %}">Найкращі цитати</a>
        </div>
    </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url "abyss" %}">Безодня</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "new" %}">Додати</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "search" %}">Пошук</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "about" %}">Про проект</a>
      </li>
</ul>
</div>
</nav>




<div class="container container-main">

{% block content %}



{% endblock %}

</div>






	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	 crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	 crossorigin="anonymous">
	</script>
    <script>
        function rating(quote_index, delta){
            $.ajax(
                {
                    type:"GET",
                    url:"/ajax/rating/",
                    data:{
                        q_index: quote_index,
                        r_delta: delta
                    },
                    dataType: "json",
                    success: function(data){
                        console.log(data);
                        $("#" + quote_index).text(data.message);
                        $("#" + quote_index).removeClass("alert-danger");
                        $("#" + quote_index).addClass("alert-success");
                        $("#" + quote_index).show();
                        $("#" + quote_index).alert();
                        $("#r" + quote_index).text(data.rating);

                    },
                    error: function(data){
                        $("#" + quote_index).text(data.responseJSON.error);
                        $("#" + quote_index).removeClass("alert-success");
                        $("#" + quote_index).addClass("alert-danger");
                        $("#" + quote_index).show();
                        $("#" + quote_index).alert();
                    }
                }
            )
            }

            function accordion(quote_index){
            $.ajax(
                {
                    type:"GET",
                    url:"/ajax/accordion/",
                    data:{
                        q_index: quote_index,
                    },
                    dataType: "json",

                    success: function(data){
                        $("#" + quote_index).text(data.message);
                        $("#" + quote_index).removeClass("alert-danger");
                        $("#" + quote_index).addClass("alert-success");
                        $("#" + quote_index).show();
                        $("#" + quote_index).alert();
                    },
                    error: function(data){
                        $("#" + quote_index).text(data.responseJSON.error);
                        $("#" + quote_index).removeClass("alert-success");
                        $("#" + quote_index).addClass("alert-danger");
                        $("#" + quote_index).show();
                        $("#" + quote_index).alert();
                    }
                }
            )
            }
    </script>
    {% block scripts %}
    {% endblock %}
</body>

</html>